@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');

:root{
    --principal:#650682;
    --secundaria:#B732DE;
    --terciaria:#C359C2;
    --textos:#ffffff;
    --textossecundarios: lightslategrey;
    --titulos:#000000;
    --botãohover:#981abe;
}


*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Jaini Purva", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    max-width: 100%;
    max-height: 100vh;
}
.asideimg{
    max-width: 230px!important;
    max-height: 380px!important;
    margin: 5px;
    border-radius: 10px;
}
header{
    max-height: 90px;
    max-width: 100%;
    background-color: var(--principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
header h1{
    color: var(--textos);
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
}
nav{
    width: 50%;
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    color: var(--textos);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
}
nav a:hover{
    transform: scale(1.05);
    transition: 0.4s;
    color: lightgray;
}
.fundo{
    max-width: 100%;
    min-height: 120vh;
    background: url(img/noronha.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left .asideimg{
    margin: 0 30px;
}
.right, .left{
    display: flex;
    flex-direction: column;
    max-height: 680px!important;
    background-color: var(--textos);
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 20px;
}
aside h2, h4, p{
    align-self: flex-start;
    text-align: justify;
}
aside h2, h4{
    font-size: 1.6rem;
    margin-left: 20px;
}
aside p{
    font-size: 1rem;
    margin: 0 5px 0 25px;
}
.promocao{
    color: var(--textossecundarios);
}

main{
    margin-top: 50px;
    max-width: 500px;
    max-height: 300px;
}
main h3{
    margin-left: 10px;
    font-size: 2.5rem;
    color: var(--titulos);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.749);
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    max-width: 500px;
    max-height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
form button{
    max-width: 100%;
    background-color: var(--secundaria);   
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}
form button:hover{
    background-color: var(--botãohover);
    transform: scale(1.02);
    transition: 0.4s;
}
.arearolagem{
    max-width: 100%;
    max-height: 560px;
    background-color: var(--terciaria);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
}
.rolagemimg{
    position: relative;
    margin: 20px;
    height: 180px!important;
    width: 280px!important;
    border-radius: 15px;
    box-shadow: 5px 3px 3px rgb(65, 61, 61);
}
.rolagemimg:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
footer{
    height: 50px;
    width: 100%;
    background-color: #650682;
    color: var(--textos);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.imgtxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arearolagem p{
    position: absolute;
    /* visibility: hidden; */

}

@media only screen and (max-width:450px){
    header nav{
        display: none;
    }
    
    .toggle{
        position: relative;
        right: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-right: 20px;
        /* preenchido com a imagem do menu hambúrguer */
        background: url(img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }    
    .toggle.active{
        position: fixed;
        filter: invert(0);
        right: 20px;
        margin-right: 0;
        /* preenchido com a imagem de 'fechar' */
        background: url(img/close.png);
        background-size: 25px;
        background-position: right;
        background-repeat: no-repeat;
    }

    /* formar a lista do menu hamburguer */
    header nav ul.links.active {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2f2f2;
        z-index: 12;
    }
    header nav ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    header h1{
        margin-left: 50px;
    }
    footer p{
        font-size: 1.2rem;
        text-align: center;
    }
    main{
        width: 400px;
        align-items: center;
    }
    .fundo{
        justify-content: center;
    }

}
@media only screen and (min-width:450px) and (max-width:768px){
    main{
        margin-top: 0;
    }
    .left, .right{
        margin: 10px;
        max-height: 200px!important;
        padding-right: 10px;
        flex-direction: row;
    }
    aside h2, h4{
        margin-left: 10px;
        font-size: 1rem;
        writing-mode: sideways-lr;
        align-self: center;
    }
    aside p{
        margin: 0;
        font-size: 0.7rem;
    }
    img.asideimg{
        max-width: 210px!important;
        max-height: 150px!important;
    }
    .left .asideimg{
        margin: 10px;
    }
    .right .asideimg{
        max-width: 200px!important;
        max-height: 150px!important;
    }
    footer{
        font-size: 1.5rem;
    }
}